.combobox__options--container {
    position: absolute;
    z-index: 10;
    margin-top: .25rem;
    max-height: 14rem;
    width: 100%;
    overflow: auto;
    border-radius: .375rem;
    --combobox-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--combobox-bg-opacity));
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --combobox-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--combobox-ring-offset-shadow, 0 0 #0000), var(--combobox-ring-shadow, 0 0 #0000), var(--combobox-shadow);
    --combobox-ring-inset: ;
    --combobox-ring-offset-width: 0px;
    --combobox-ring-offset-color: #fff;
    --combobox-ring-offset-shadow: var(--combobox-ring-inset) 0 0 0 var(--combobox-ring-offset-width) var(--combobox-ring-offset-color);
    --combobox-ring-shadow: var(--combobox-ring-inset) 0 0 0 calc(1px + var(--combobox-ring-offset-width)) var(--combobox-ring-color);
    box-shadow: var(--combobox-ring-offset-shadow), var(--combobox-ring-shadow), var(--combobox-shadow, 0 0 #0000);
    --combobox-ring-opacity: 1;
    --combobox-ring-color: rgba(0, 0, 0, var(--combobox-ring-opacity));
    --combobox-ring-opacity: 0.05
}

.combobox__options--container:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.combobox__show--options {
    min-height: 50px;
    opacity: 1;
    visibility: visible;
}

.combobox__hide--options {
    min-height: 0;
    opacity: 0;
    visibility: hidden;
}


@media (min-width:640px) {

    .combobox__options--container {
        font-size: .875rem;
        line-height: 1.25rem
    }
}